- var studentName = 'student';

doctype html
html(lang = "eng")
    head  
        title Flash Cards
        link(rel='stylesheet', href='/static/stylesheets/style.css')
    body
        include includes/header.pug
        block main
        